API_URL=http://localhost:8080/api
PUBLIC_APP_NAME=Insight Vision IA
PUBLIC_SUPPORT_EMAIL=soporte@insightvisionia.cloud
PUBLIC_ENABLE_GOOGLE_LOGIN=false
PUBLIC_ENABLE_MICROSOFT_LOGIN=false
FIREBASE_API_KEY=
FIREBASE_AUTH_DOMAIN=
FIREBASE_PROJECT_ID=
FIREBASE_APP_ID=
FIREBASE_MESSAGING_SENDER_ID=
FIREBASE_STORAGE_BUCKET=
